*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: forzaFont;
  src: url(font/Cortado\ Script\ Web\ Regular.ttf);
}

html {
  font-family: 'forzaFont';
  font-size: 5vw;
  font-smooth: auto;
  font-weight: 300;
  line-height: 1.5;
  color: #ffff;
}

body {
  height: 100vh;
  background-color: #c18e60;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  font-size: 100%;
}

.buttons {
}
.buttons img {
  width: 2em;
}
ul > li {
  list-style-type: none;
  display: inline-block;
}
ul {
  display: table;
  margin: 0 auto;
  text-align: left;
  padding-left: 0;
}
